body {
    background-color: antiquewhite;
    font-family: 'Noto Sans Mono', monospace;
}
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App h2{
    text-align: center;
}
.App__form {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 3px 1px black;
    width: 97vw;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 10px;
}

.App__form input {
    width: 7vw;
    border-radius: 5px;
    border: 0px;
    opacity: 0.7;
    outline:none;
    padding: 4px 0px 4px 10px;
}
input:focus {
    opacity: 1;
}
.App__form button {
    border-radius: 5px;
    border: 0px;
    box-shadow: 1px 1px 1px 1px black;
}
.App__form__input {
    width: 10vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}